version: "3.8"
services:
  # Nginx Server
  proxy:
    image: nginx:1.23.3
    container_name: prolearn-proxy
    restart: always
    hostname: prolearn-proxy-server
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    networks:
      - app-network

  # Nest.js Server Framework
  api:
    build:
      context: ./prolearn-backend
      dockerfile: Dockerfile
    container_name: prolearn-api
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      DATABASE_CACHE_DURATION: ${DATABASE_CACHE_DURATION}
      POSTGRES_HOSTNAME: ${POSTGRES_HOSTNAME}
      POSTGRES_PORT: ${POSTGRES_PORT}
      GOOGLE_APPLICATION_CREDENTIALS: ${GOOGLE_APPLICATION_CREDENTIALS}
      BUCKET_NAME: ${BUCKET_NAME}
      JWT_SECRET: ${JWT_SECRET}
      EXPIRES_IN: ${EXPIRES_IN}
      ADMIN_USERNAME: ${ADMIN_USERNAME}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      SSHHOST: ${SSHHOST}
      SSHUSER: ${SSHUSER}
      SSHPASS: ${SSHPASS}
    hostname: prolearn-api-server
    ports:
      - "8080:8080"
    volumes:
      - ./prolearn-backend:/app
      - /app/node_modules
    networks:
      - app-network
    depends_on:
      - database
      - compiler

  # Next.js Client Framework
  client:
    build:
      context: ./prolearn-frontend
      dockerfile: Dockerfile
    container_name: prolearn-client
    restart: always
    environment:
      API_HOSTNAME: ${API_HOSTNAME}
    hostname: prolearn-client-server
    volumes:
      - ./prolearn-frontend:/app
      - /app/node_modules
    networks:
      - app-network

  # PostgreSQL Database
  database:
    image: postgres:15.1
    container_name: prolearn-database
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    hostname: prolearn-database-server
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - app-network

  # Compiler
  compiler:
    build:
      context: ./prolearn-compiler
      dockerfile: Dockerfile
    container_name: prolearn-compiler
    restart: always
    hostname: prolearn-compiler-server
    volumes:
      - compiler:/mnt
    networks:
      - app-network

# Networks
networks:
  app-network:
    driver: bridge

# Volumes
volumes:
  postgres:
    driver: local
  compiler:
    driver: local
